################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64
/.vs
/Detect/x64
/.omc
/ConvertToJson/x64
/Output
/Settings
/Data
/Tests/x64
/Data/Captures/Detect/Measure_6marker_1Hz_10sec.dmslog8
/Data/Captures/Detect/Measure_6marker_1Hz_10sec.json
/Data/Captures/Detect/Measure_6marker_1Hz_10sec.txt
/Data/Captures/VZSoft/Measure_6marker_1Hz_10sec.dmslog8
/Data/Captures/VZSoft/Measure_6marker_1Hz_10sec.json
/Data/Captures/VZSoft/Measure_6marker_1Hz_10sec.txt
