################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64
/.vs
/Detect/x64
/.omc
/ConvertToJson/x64
/Output
/Settings
/Data/Captures/Good/Detect/Measure_6marker_1Hz_10sec.txt
